*{
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    margin: 0 0;
    padding: 0 0;
}

.flex-container {
    justify-content: top;
    align-items: center;
}

.header-container {
    background-image: url(https://xrlie.github.io/myFirstLayout/assets/images/MaskGroup.png);
    background-position: center;
    background-size: auto 75%;
    background-color: #f9fff2;
    background-repeat: no-repeat;
    padding-top: 15px;
}

header nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: baseline;
    list-style: none;
}

.li-nav {
    padding: 5px;
}

button {
    background-color:  #410ff8;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 175%;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

h1 {
    align-items: center;
    padding-top: 20px;
    font-size: 300%;
}

p {
    font-size: 80%;
    width: 60%;
    text-align: center;
}

p strong {
    color: #41b19c;
}

.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

article {
    box-sizing: border-box;
}

.article-container {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 5px;
    height: 100%;
    width: 25%;
}

.article-container-purple {
    display: flex;
    flex-direction: column;
    background-color: #410ff8;
    color: white;
    font-weight: bold;
    border: 2px solid gray;
    border-radius: 5px;
    height: 100%;
    width: 25%;
}

.price-tag{
    font-size: 25px;
    font-weight: bold;
}

.annually-tag{
    font-size: 8.5px;
    color: gray;
}

.main-button {
    background-color:  #410ff8;
    color: white;
    align-self: center;
    font-weight: bold;
    padding: 5px;
    width: 75%;
}

ul {
    padding-top: 10%;
    padding-left: 15%;
}